.App {
  font-family: sans-serif;
  text-align: center;
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.race-track{
  position: relative;
  width: 100%;
  height: 200px;
  background-color: gray;
  display: flex;
  align-items: center;

}
.race-car{
  position: absolute;
  width:100px;
  height: 100px;
}
.parah{
  width: 700px;
  margin: auto;
  margin-top: 30px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size:large;
  background-color: antiquewhite;
  padding: 10px;
  border-radius: 3px;
}
.active{
  background-color: aquamarine;
}